# ignore ALL .log files
*.log

# ignore ALL .txt files
*.txt

# ignore ALL files in ANY directory named temp
temp/
test/

# ignore executables
0speed
1speed
2speed
3speed
4speed
5speed
test_1
test_2
test_file
